<script src="js/calculation.js"></script>

Emarsys Test!

<form onsubmit="calculate()">
    Bug report: <input type="text" name="bug" placeholder="write here your problem!"> <input type="number" name="tatime" placeholder="turnaround time">
    <input type="submit" value="Submit" >
</form>