<script src="js/calculation.js"></script>
<link rel="stylesheet" type="text/css" href="css/index.css">

<h1 class="center">Emarsys Test!</h1>

<div class="center">
    <form onsubmit="calculate()">
        Bug report: <input type="text" name="bug" placeholder="write here your problem!"> <input type="number" name="tatime" placeholder="turnaround time">
        <input type="submit" value="Submit" >
    </form>
</div>